body {

    background-color: lightgray;
}
.MainContent {
    width: 720px;
    box-sizing: border-box;
    padding: 0 15px;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    border: 0;
    outline: none;
}
.Vacancie {
    padding: 20px;
    border: 1px solid #e7e7e7;
    position: relative;
    margin-top: -1px;
    font-size: 14px;
    line-height: 1.571;
}
.Headline{

}
.EmployementType{

}
.Salary {
    font-family: Arial,sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
}
.Organization{

}
Description {
    font-size: 14px;
    font-family: Arial,sans-serif;
    line-height: 1.571;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
}
.Contacts{

}
.ContactPerson {

}
.PhoneNumber{

}